<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title>戒烟网站后台管理系统</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.js"></script>
    <script src="/js/net.js"></script>

    <style>
        .head {
            border-radius: 4px;
            border: solid 1px gray;
            object-fit: cover;
            width: 240px;
            height: 240px;
            margin-top: 4px;
            margin-bottom: 8px;
        }
    </style>

    <script>
        function query() {
            var w = $("#keyword").val()
            var username = $("#username").prop("checked")
            var nickname = $("#nickname").prop("checked")
            window.location.href = `/admin/user?w=${w}&username=${username}&nickname=${nickname}`
        }

        function openDlg(id) {
            $("#edit").modal("toggle")
            net.get({
                url: "/admin/user/get/" + id,
                toast: true,
                success: function (user) {
                    var birthday = user['birthday'].toString()
                    a = [birthday.substr(0, 4),
                        birthday.substr(4, 2),
                        birthday.substr(6, 2)];
                    birthday = a[0] + "-" + a[1] + "-" + a[2];
                    $("#e-id").val(user['id']);
                    $("#e-username").val(user['username']);
                    $("#e-nickname").val(user['nickname']);
                    $(`input[name=gender][value=${user['gender']}]`).attr("checked", "checked");
                    $("#e-birthday").val(birthday);
                    $("#e-email").val(user['email']);
                    $(`input[name=enable][value=${user['enable']}]`).attr("checked", "checked");
                    $("#e-des").val(user['des']);
                    $("#head").attr("src", "/head/" + user['id']);
                }
            })
        }

        function saveEdit() {
            net.post({
                url: "/admin/user/update",
                data: {
                    id: $("#e-id").val(),
                    username: $("#e-username").val(),
                    nickname: $("#e-nickname").val(),
                    gender: $("input[name=gender]:checked").val(),
                    birthday: $("#e-birthday").val().replaceAll("-", ""),
                    email: $("#e-email").val(),
                    enable: $("input[name=enable]:checked").val(),
                    des: $("#e-des").val(),
                },
                toast: true,
                reload: true,
                success: function () {
                    alert("修改成功")
                }
            })
        }

        function selectImage() {
            var f = $("#file");
            f.click()
        }

        $(document).ready(function () {
            $("#file").on("change", function () {
                var form = new FormData();
                form.append("file", document.getElementById("file").files[0], $("#file").val());

                var settings = {
                    "url": "/admin/user/head/" + $("#e-id").val(),
                    "method": "POST",
                    "dataType": "json",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings).done(function (result) {
                    if (result.success) {
                        alert("设置成功")
                        $("#head").attr('src', `/head/${$("#e-id").val()}?${Math.random()}`)
                    } else {
                        alert(result.message);
                    }
                });
            });
        })
    </script>
</head>
<body>

<div th:replace="common/admin::navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="common/admin::sidebarMenu"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">用户列表</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="form-check form-check-inline">
                        <div class="font-weight-bold">查询关键字：</div>
                        <input class="form-control-sm" type="text" placeholder="请输入查询关键字" id="keyword" th:value="${w}">
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="font-weight-bold">查询依据：</div>
                        <input class="form-check-input" type="checkbox" id="username" th:checked="${username}">
                        <label class="form-check-label" for="username">用户名</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="nickname" th:checked="${nickname}">
                        <label class="form-check-label" for="nickname">昵称</label>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="query()">查询
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            onclick="window.location.href='/admin/user'">重置
                    </button>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 80px">ID</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th style="" class="text-center">性别</th>
                    <th>生日</th>
                    <th>邮箱</th>
                    <th style="width: 72px" class="text-center">状态</th>
                    <th style="width: 100px" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${list}">
                    <th th:text="${user.id}"></th>
                    <th th:text="${user.username}"></th>
                    <td th:text="${user.nickname}"></td>
                    <td class="text-center" th:text="${genderArray[user.gender]}"></td>
                    <td th:text="${user.birthday}"></td>
                    <td th:text="${user.email}"></td>
                    <td class="text-center" th:text="${user.enable?'可用':'禁用'}"></td>
                    <td class="text-center">
                        <a class="btn-link text-primary" href="#" th:onclick="'openDlg('+${user.id}+')'">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="margin-top: 8px">
                <div th:replace="common/admin::page"></div>
            </div>
            <br><br><br>
        </main>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改用户信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex;flex-direction: row;gap: 24px">
                <div style="width: 100%">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ID</span>
                        </div>
                        <input type="text" class="form-control" readonly id="e-id">
                    </div>
                    <div class="form-group">
                        <label for="e-username">用户名</label>
                        <input type="text" class="form-control form-group " id="e-username" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="e-nickname">昵称</label>
                        <input type="text" class="form-control form-group " id="e-nickname" placeholder="请输入昵称">
                    </div>
                    <div class="form-group">
                        <label>性别：</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="e-male" value="1">
                            <label class="form-check-label" for="e-male">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="e-female" value="2">
                            <label class="form-check-label" for="e-female">女</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e-birthday">出生日期</label>
                        <input type="date" class="form-control form-group " id="e-birthday" value="2000-01-01">
                    </div>
                    <div class="form-group">
                        <label for="e-email">邮箱</label>
                        <input type="email" class="form-control form-group " placeholder="请输入邮箱" id="e-email">
                    </div>
                    <div class="form-group">
                        <label>状态：</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="enable" id="e-disable" value="false">
                            <label class="form-check-label" for="e-disable">禁用</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="enable" id="e-enable" value="true">
                            <label class="form-check-label" for="e-enable">启用</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e-des">个人简介</label>
                        <textarea rows="
                        4" class="form-control form-group" placeholder="请输入个人简介" id="e-des"></textarea>
                    </div>
                    <button class="form-control btn-primary" onclick="saveEdit()">保存</button>
                </div>
                <div style="width: 80%">
                    <div class="h6">头像</div>
                    <img class="head" id="head"/>
                    <input type="file" hidden accept="image/*" id="file">
                    <button class="btn btn-primary" onclick="selectImage()">上传头像</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
